.uffizzi{
	background-image: url("/images/Rectangle\ 58.png");
	background-size: cover;
	height: 400px;
	display: flex;
	align-items: flex-end;
	width: 100%;
	margin: 5px;
	padding: 5px;
	// background-color: red;
	background-repeat: no-repeat;
	.uffizzi-div{
		display: flex;
		color: #fff;
		justify-content: space-between;
		width: 100%;
		padding-inline: 1rem;
		align-items: center;
	}
}
.discover{
	margin: 1rem 0.2rem;
}
.curated-picks{
	text-align: center;
	font-size: 1.5rem;
	margin-block: 1rem;
}
.curated-divs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	place-items: center;
	grid-row-gap: 1rem;
	margin-block: 1rem;
	&>div{
		padding-inline: 10px;
	}
	@media screen and (max-width: 768px){
		display: flex;
		white-space: nowrap;
		overflow: auto;
		justify-content: space-between;
		div{
			// display: inline-block;
		}
		
	}
	// grid-template-rows: 1fr 1fr;
	.amanda-text{
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 768px) {
			align-items: center;
		}
	}
}